<launch>
  <arg name="result_root" default="$(find experiment4)/results" />
  <node pkg="experiment4"
        type="run_experiment4_batch.py"
        name="experiment4_group_a_no_gt_seed"
        output="screen"
        args="--group group_a_no_gt_seed --result-root $(arg result_root)" />
</launch>
