<launch>
  <arg name="first_tb3"  default="tb3_1"/>
  <arg name="second_tb3" default="tb3_2"/>
  <arg name="third_tb3"  default="tb3_3"/>

  <arg name="first_tb3_x_pos" default="-7.0"/>
  <arg name="first_tb3_y_pos" default="-1.0"/>
  <arg name="first_tb3_z_pos" default="0.0"/>
  <arg name="first_tb3_yaw"   default="1.57"/>

  <arg name="second_tb3_x_pos" default="7.0"/>
  <arg name="second_tb3_y_pos" default="-2.0"/>
  <arg name="second_tb3_z_pos" default="0.0"/>
  <arg name="second_tb3_yaw"   default="1.57"/>

  <arg name="third_tb3_x_pos" default="0.5"/>
  <arg name="third_tb3_y_pos" default="3.0"/>
  <arg name="third_tb3_z_pos" default="0.0"/>
  <arg name="third_tb3_yaw"   default="0.0"/>

  <node pkg="turtlebot3_central" type="global_map_fuser.py" name="global_map_fuser" output="screen">
    <rosparam param="robot_namespaces">[tb3_1, tb3_2, tb3_3]</rosparam>
    <param name="robot_map_topic" value="map"/>
    <param name="global_frame" value="map"/>
    <param name="resolution" value="0.05"/>
    <param name="publish_rate" value="1.0"/>
  </node>
  <!-- Provide a global /map root for visualization. With Gazebo odom sourced from world,
       the local SLAM maps are already world-aligned enough that these anchors should stay identity. -->
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg first_tb3)_tf_broadcaster"
        args="0 0 0 0 0 0 /map /$(arg first_tb3)/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg second_tb3)_tf_broadcaster"
        args="0 0 0 0 0 0 /map /$(arg second_tb3)/map 100"/>
  <node pkg="tf" type="static_transform_publisher" name="world_to_$(arg third_tb3)_tf_broadcaster"
        args="0 0 0 0 0 0 /map /$(arg third_tb3)/map 100"/>

  <arg name="open_rviz" default="true"/>
  <group if="$(arg open_rviz)"> 
    <node pkg="rviz" type="rviz" name="rviz" required="true"
          args="-d $(find turtlebot3_central)/rviz/map_merge.rviz"/>
  </group>
</launch>

<!-- http://wiki.ros.org/multirobot_map_merge -->
