<launch>
    <group ns="tb3_1">
        <include file="$(find turtlebot3_multislam)/launch/tb3_slam.launch">
            <!-- important: All TF frames should be in namespaces-->
            <arg name="base_frame" value="tb3_1/base_footprint"/>
            <arg name="odom_frame" value="tb3_1/odom"/>
            <arg name="map_frame"  value="tb3_1/map"/>
        </include>
    </group>

    <group ns="tb3_2">
        <include file="$(find turtlebot3_multislam)/launch/tb3_slam.launch">
            <!-- important: All TF frames should be in namespaces-->
            <arg name="base_frame" value="tb3_2/base_footprint"/>
            <arg name="odom_frame" value="tb3_2/odom"/>
            <arg name="map_frame"  value="tb3_2/map"/>
        </include>
    </group>
</launch>