<launch>
  <arg name="robots_config" default="$(find turtlebot3_exploration)/config/robots.yaml"/>
  <arg name="coordinator_config" default="$(find turtlebot3_exploration)/config/coordinator.yaml"/>
  <arg name="frontier_config" default="$(find turtlebot3_exploration)/config/frontier.yaml"/>

  <node pkg="turtlebot3_exploration" type="coordinator_node.py" name="coordinator" output="screen">
    <param name="robots_config" value="$(arg robots_config)"/>
    <rosparam command="load" file="$(arg coordinator_config)"/>
    <rosparam command="load" file="$(arg frontier_config)"/>
  </node>
</launch>
